aiohttp==3.6.2
async-timeout==3.0.1
attrs==19.1.0
Babel==2.7.0
backcall==0.1.0
begins==0.9
bleach==3.1.1
Brotli==1.0.7
certifi==2019.9.11
chardet==3.0.4
Click==7.0
colorama==0.4.1
cycler==0.10.0
Cython==0.29.13
deap==1.3.0
decorator==4.4.0
defusedxml==0.6.0
Delorean==1.0.0
docopt==0.6.2
easycython==1.0.7
entrypoints==0.3
futu-api==3.13.1
helpdev==0.6.10
humanize==0.5.1
ibapi==9.75.1
idna==2.8
importlib-metadata==0.23
ipykernel==5.1.2
ipython==7.8.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.15.1
Jinja2==2.10.1
jqdatasdk==1.7.6
jsonschema==3.0.2
jupyter==1.0.0
jupyter-client==5.3.3
jupyter-console==6.0.0
jupyter-core==4.5.0
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==3.1.1
mistune==0.8.4
mongoengine==0.18.2
more-itertools==7.2.0
msgpack==0.6.1
multidict==4.7.5
nbconvert==5.6.0
nbformat==4.4.0
notebook==6.0.1
numpy==1.15.4
packaging==19.2
pandas==0.24.0
pandocfilters==1.4.2
parso==0.5.1
peewee==3.11.0
pickleshare==0.7.5
ply==3.11
prometheus-client==0.7.1
prompt-toolkit==2.0.9
protobuf==3.5.1
psutil==5.6.3
psycopg2==2.8.3
pyasn1==0.4.4
pycryptodome==3.9.0
Pygments==2.4.2
pymongo==3.9.0
PyMySQL==0.9.3
pyparsing==2.4.2
PyQt5==5.13.1
PyQt5-sip==4.19.19
pyqtgraph==0.10.0
PyQtWebEngine==5.13.1
pyrsistent==0.15.4
PySocks==1.7.0
python-dateutil==2.8.0
python-rapidjson==0.8.0
pytz==2019.2
pywin32==225
pywinpty==0.5.5
pyzmq==18.1.0
QDarkStyle==2.7
QScintilla==2.11.3
qtconsole==4.5.5
requests==2.22.0
rqdatac==2.4.0
rsa==4.0
scipy==1.3.1
seaborn==0.9.0
Send2Trash==1.5.0
simplejson==3.16.0
six==1.12.0
SQLAlchemy==1.3.8
stomp.py==4.1.22
TA-Lib==0.4.17
terminado==0.8.2
testpath==0.4.2
thriftpy2==0.4.8
tigeropen==1.1.7
tornado==6.0.3
tqsdk==1.6.2
traitlets==4.3.2
tzlocal==2.0.0
urllib3==1.25.3
vnpy==2.1.0.1
vnstation==2.4.7
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.56.0
websockets==8.1
widgetsnbextension==3.5.1
WMI==1.4.9
yarl==1.4.2
zipp==0.6.0
